# 1.0  Introduction to Variables

A script (or program) executes the instructions exactly as given.   It never assumes anything.
For example, if you ask to print something, the script does exactly that.

In [4]:
print ('Hello World')

Hello World

Say you wish to print 'Hello John' instead of 'Hello World'.  Or, have the flexibility to say hellow to anyone.

But you may not want to type the print statment over and over again each time you want to change the name of person you are saying hello to.

What can we do?  We use a variable.

A variable is a container holding a value.  It takes whatever value is assigned to it.

You write a script that says print ('Hello', name).  The name here is a variable.  Note that name is not enclosed inside the quote (' ' ) mark.  

The name variable can be assigned a value (somebody's name) which gets printed out.


In the example below, we assign the value, 'John', to the variable name.

In [6]:
name = 'John'
print('Hello ', name)

Hello  Mr Pan Binbin

Variable names cannot start with digits.

In [9]:
2_name = 'Peter'

SyntaxError: invalid token (<ipython-input-9-3e729caa38e4>, line 1)

There are a number of ways to assign a value to a variable.  One way is to do it inside the program as illustrated above.  The other is to read from console as illustrated below.

In this method, we are assigning whatever the user types in the console as a value for the variable, name.

In [10]:
name = input ('What is your name? ')
print('Hello', name)

What is your name? Superman
Hello Superman

However, if you have a number of names to say hello to at the same time, you do not want to enter the names on console one at a time.  

What you usually do is to read the names from a file. The illustation below shows how to read data from a file into a variable.

You haved to know where your file is located in order to read the data. When I prepared this set of notes, my file was located in the same directory as this program.  

The name of the file that I read in was Names.txt


Note that we use a loop.  At each iteration, the variable name takes a new value and prints out the new value.

We shall talk more about reading from files and looping in later lessons.

In [2]:
name =open('Names.txt').read().split("\n")
for i in name:
    print('Hello ', i)

Hello  Amy
Hello  Beth
Hello  Cate

# 2.0  Basic Types of Data

The above illustrates assignment of values (data) to variables.  We now explore the nature of the data (or datatype).


Python uses object-oriented programming.

The data we assign is the object in python.  The methods we can apply to manipulate the data objects depend on their type.  Data is the focal point of the problem-solving process in Python.

The data in python can be classified into atomic data types.

Atomic Data Types (or objects)

    a.  Numeric

        a.1  integer (int)

            Normal integer that can represent values (count of items) or categories (e.g., 0 for male, 1 for female)

        a.2  float

            Continuous decimal numbers that usually represent quantities

    b.	Non-numeric

        b.1	strings

            This non-numeric datatype is the most general type.  It can contain words, numbers, and any other   characters.
	   
        b.2	boolean (boo)

            Data that has only two values - True (1) or False (0).  It results from the output of a test done (for example, in a comparison of two numbers, 1 and 2, the test "1 > 2" will yield False and "1< 2" will yield True)

A data's datatype determines its behaviour.  We illustrate this statement with the operator "+".

In normal use, "+" is an operator to add two numbers.

So we expect 3+4 to yield a value of 7 (+ is an addition operation)

However, if 3 and 4 are strings (characters rather than number), then 3 + 4 results in 34 ("+" is a concantenation operator).

Hence, what "+", and a lot of other methods, does depends on the datatype.

In [12]:
stringA = '3'
stringB = '4'
numberA = 3
numberB = 4
print('Data type stringA: ', type(stringA),'\n','Data type numberA: ', type(numberA))

Data type stringA:  <class 'str'>
 Data type numberA:  <class 'int'>

In [6]:
numberA + numberB

7

In [7]:
stringA + stringB

'34'

Some operators cannot be applied to certain datatypes.  For example, "/" (division) cannot be applied to strings

In [8]:
stringA/stringB

TypeError: unsupported operand type(s) for /: 'str' and 'str'

Some operators cannot be used when the datatypes are mixed.  For example, the "+" operator cannot be applied when variable contain string and numeric datatypes.

In [9]:
stringA + numberA

TypeError: must be str, not int

How do you resolve the problem of adding stringA and numberA together???

The answer is casting, which can cast the type of an object to another type. 

For example, int(stringA) will give you a integer value of 3, which can be used to add to numberA.

In [13]:
int(stringA) + numberA

6

Other types of

#  3.0  Strings

A string is a sequence of characters. It includes everything - numbers, alphabets, spaces, special characters among others.

Define a data as a string by enclosing it with single quotes (' ' ) or double quotes (" ").

For example, the string below has length of 11 even though you see only nine numbers from 1 to 9.  That is because the blank spaces in front (called leading whitespace) and at the back (trailing whitespace) of the numbers are counted as part of the string.

In [10]:
string = ' 123456789 '
len(string)

11

Each item in the sequence can be accessed separately.  For example, the last blank in the above string variable can be accessed by its index (we talk more of index later).  This last blank is in the 11th position of the variable named string.

In [11]:
string[10]

' '

The use of slash \ negates the effect of some standalone special characters.  Single quotation marks (' ' ) are called special characters.  They are used to define a string.  Anything enclosed by ' ' is a string and if you print the string, the special characters ' ' are not printed.

However, if you put \ in front of ' ( as \'), the ' will no longer function as a special character but appear as part of the string when printed.

Let's see how this works if you want to print the statement (with the quotation marks)

'I love apple'

You can try this ''I love apple'' and hope that the inner quotation marks (' ' ) will show up when you print.  However, since quotation marks are special characters, it will not work.  The above code uses two special characters in a row. This violates the syntax.

Instead use this:

'\'I love apple\'' 

What happens is this.  The outer quotation marks at the beginning and end denotes that the data in between is a string.
The quotation marks that are preceded immediately by the slash (\) are no longer special characters but treated as quotation marks (').

In [12]:
stringApp = ''I love apple''
print(stringApp)

SyntaxError: invalid syntax (<ipython-input-12-43916704d95f>, line 1)

In [13]:
stringApp = '\'I love apple\''
print(stringApp)

'I love apple'

In [12]:
stringApp = "'I love apple'"
print(stringApp)

'I love apple'

On the other hand, the use of \ before a normal character can confer some special function to the normal character.

The letter "n" is just an alphabet.  However, when it is preceded by a slash as, in "\n", it has a special function.   

"\n" means to print on a new line.

The following illustration is self-explanatory.

Note that the length of the variable stringAppNewLine is 14.  This is because the special character \n (to start a new line) is counted as one character.

In [14]:
stringAppNewLine = 'I \nlove \napple'
len(stringAppNewLine)

14

In [36]:
print(stringAppNewLine)

I
love
apple

## 3.1  Manipulating Strings

The basic manipluation of all strings consists of accessing specific items within the string.

This requires a basic understanding of how the items in the strings are indexed.  

Python uses the zero indexing system - the first position in the string has an index of 0, the second an index of 1 and so on.

Let's say you have a variable named string.  To get the first item, just write string[0]- that is, the name of the string followed by square brackets [], with the index inside the square brackets.

The example below takes a string, s, containing the statement:

'Singapore is a very hot place with temperature going up to 36 degrees Celcius'

The outputs from the different indices are given to help you understand how they work.

The index [i,j] means to take a slice of the items inside the variable from index i to index (j-1).

In [16]:
s = 'Singapore is a very hot place with temperature going up to 36 degrees Celcius'
s[0:9]   #access the items from position 1 (index 0) to positon 9 (index 8)

'Singapore'

In [17]:
s[10:]  #access items from position 11 (index 10) to end of string

'is a very hot place with temperature going up to 36 degrees Celcius'

In [18]:
s[9]  #access item in position 10 (index 9) - this is the blank after the word 'Singapore'

' '

In [19]:
s[:12]  # access items from position 1 (index 0) to position 11 (index 10)

'Singapore is'

When the negative index is used, we start counting from the back of the string

In [20]:
s[-1]  #access the last item of the string

's'

In [21]:
s[-3:-1]   #access items from the third last position to second last position (remember that the last item stops at one position before the last index)

'iu'

You can apply different methods* to the string.  The usual syntax is string.method()

This is one illustration of object-oriented programming.  string is the data object (also called variable) we apply some methods to transform it or to obtain the data we want.  

The two examples below illustrates the use of two methods - .find() and .replace() 

We show how the find method and the replace method is used with the string, s.

.find() is used to determine the index position for the first character of a string selected.  In this example, the word 'hot' starts at index 20 (position 21)

*Note:  the word "method" is used interchangeably with the word "function"

In [22]:
s.find('hot')

20

In [23]:
s.replace('Singapore','Pulau Ubin')  # Replace the word 'Singapore' with 'Pulau Ubin'

'Pulau Ubin is a very hot place with temperature going up to 36 degrees Celcius'

.split is one of the most useful method to apply to a string.  It splits a string into individual words.  The output of the .split method is a list - we will talk more about the list later.

We must decide how we wish to split the words - in this case, we note that each word is separated by a space, so we use the space as a parameter to split the string as illustrated below.

The output of the split is very different from the original object that is split.

s, the original string treats each character as a single item.

s1, the ouput from applying .split() to s is now a list.  Each word is a single item.

This difference is demonstrated by accessing the first item in s and in s1.

In [24]:
s1 = s.split()
s1

['Singapore',
 'is',
 'a',
 'very',
 'hot',
 'place',
 'with',
 'temperature',
 'going',
 'up',
 'to',
 '36',
 'degrees',
 'Celcius']

In [25]:
s[0]

'S'

In [26]:
s1[0]

'Singapore'

The opposite of .split() is .join()  

You can join strings together to form one single string.  The separator that you wish to insert between the strings you join are given in the parameter of the join method.

In the illustration, we choose to join the three strings into a single string.  We want the three strings to be separated by a space in a newly joined string.

By the way, note that we enclose s11, s12, s13 with [].  This is because the method .join() takes only one argument. If the [] is not used to enclose the three strings, you will get an error as you will be passing three arguments instead of one to the .join() method.

In [27]:
s11='Singapore'; s12 ='is'; s13='hot'  #you can type different commands on the same line by using ; to separate the command

sjoin = ' '.join([s11,s12,s13])    #join s11, s12, s13 and separate them by a space

sjoin

'Singapore is hot'

You can use anything as the separator for the strings you join.  For example, let us separate the three strings we join together with the '&' character.

In [28]:
sjoin1 = '&'.join([s11,s12,s13])    #join s11, s12, s13 and separate them by &

sjoin1

'Singapore&is&hot'

# 4.0 Boolean Data

The boolean datatype takes only two values - True and False.

A boolean datatype is created from the evaluation of some expression.

The example below shows one way Boolean datatype is created. 

The expression (x >0 and y < 1) can be True or False, depending on the value of x and y.

We assign the result of the evaluation of the expresson to a variable. This is to illustrate that a Boolean variable has been created.

In [29]:
x = 0; y =1.2                                 # assigning numeric values to x and y

result = x >0 and y < 1                      #assigns the outcome of the expression on RHS to a variable called result.

print(result, '\n', type(result))            #print the value of result and the type of data

False
 <class 'bool'>

Every object in python has an implicit boolean value.  

To find out an object's Boolean value, just type bool(object).

See the examples below.

A numeric value of 0 has a boolean value of False.
Any numeric value other than 0 has a boolean value of True

Any string has a Boolean value of True
Empty string has Boolean value of False

In [30]:
bool(0)

False

In [31]:
bool(1.3)

True

In [32]:
bool('some string')

True

In [33]:
bool('')

False

Since every object has an impliclit Boolean value, any object can be used as a condition to trigger an action.

Take a very simple case as illustration.  If some condition is True, we want to print 'This is True'.  If that condition is False we want to print 'Nothing here'

Notice the test below, we use a variable called aCondition.  aCondition can be True or False.  If True, then 'This is True' is printed.  If False, 'Nothing here' is printed.

Note that 'Nothing here' is printed for our script below.  Obviously aCondition is False.  But what is aCondition.  It is an empty string, which is False.

You can play around with it.  Assign a non-empty string (any word will do) to aCondition and see what you get.

In [34]:
aCondition =''
if aCondition:
    print('This is True')
else:
    print('Nothing here')

Nothing here

Python Bitwise Operators

Let’s take two numbers- 5 and 7. We’ll show you their binary equivalents using the function bin() and apply ‘and’ and ‘&’ to 5 and 7.

In [4]:
bin(5)

'0b101'

In [6]:
bin(7)

'0b111'

In [8]:
5 & 7

5

In [10]:
5|7

7

In [11]:
6^6

0

In [12]:
6^0

6

In [13]:
6^3

5

In [14]:
~45

-46

In [17]:
print(bin(45))
print(bin(-46))

 0b101101
-0b101110

In [18]:
~-46

45

In [19]:
2<<1

4

In [20]:
3<<2

12

In [21]:
print(bin(2))
print(bin(4))
print(bin(3))
print(bin(12))

0b10
0b100
0b11
0b1100

In [22]:
3>>1

1

In [23]:
31>>3

3

In [24]:
print(bin(3))
print(bin(1))
print(bin(31))

0b11
0b1
0b11111

You would have expected them to return the same thing, but they’re not the same. One acts on the whole value, and one acts on each bit at once.

Actually, ‘and’ sees the value on the left. If it has a True Boolean value, it returns whatever value is on the right. Otherwise, it returns False. So, here, 5 and 7 is the same as True and 7. Hence, it returns 7. However, 5&7 is the same as 101&111. This results in 101, which is binary for 5. Let’s look at each of these operators bit by bit (pun intended).

In [ ]:
lOOK AT THE CODE BELOW: The code does not work.
What is the error?
How to fix the error?

In [3]:
radius = input('What is the radius of circle (in meters)? ')
print(type(radius))
circumference = 2*(22/7)*radius
#circumference = 2*(22/7)
area = (22/7)*(radius)**2
print('Circumference: ', circumference, 'Area:', area)

What is the radius of circle (in meters)? 10
<class 'str'>

TypeError: can't multiply sequence by non-int of type 'float'

In [2]:
radius = float(input('What is the radius of circle (in meters)? '))
print(type(radius))
circumference = 2*(22/7)*radius
#circumference = 2*(22/7)
area = (22/7)*(radius)**2
print('Circumference: ', circumference, 'Area:', area)

What is the radius of circle (in meters)? 10
<class 'float'>
Circumference:  62.857142857142854 Area: 314.2857142857143