## 1.0  Lists

A list is a collection of zero or more data objects. Each list can have different datatypes.  A list is enclosed within square brackets [].
An example of a list is given below.

In [18]:
thingsInPocket = ['phone', 'keys', 'wallets','id','pen', 5]

You see that a list can contain:

		i.	A collection of different data types
		ii.	Each object in the list is separated by a comma
		iii.The list is sequentially ordered - that is the first item is 'phone', the fourth item is "id".  This feature allows specific items to be extracted from the list

The length of the list is the number of separate items in the list.  There are six items in thingsInPocket.

In [2]:
len(thingsInPocket)

6

You extract objects from a list by indexing. The first item on the list starts from position "0".
Below, we give an illustration of extracting the first item from the list (index=0) and finding its datatype.
We see that we have extracted phone and its type is string.

In [4]:
print(thingsInPocket[0],type(thingsInPocket[0]))

phone <class 'str'>

If you state a position outside, the length of the list, an error occurs.  In the example below, the index value of '6' looks for the 7th item on the list (remember the first item starts at position '0').  Since there are only 6 items, an error occurs with the command.

In [5]:
thingsInPocket[6]

IndexError: list index out of range

The table shows common methods that can be applied to lists
        
        
        Method Name    Use			                Explanation
		append		   alist.append(item)	        Adds a new item to the end of a list
		insert		   alist.insert(i,item)	        Inserts an item at the ith position in a list
		pop		       alist.pop()		            Removes and returns the last item in a list
		pop		       alist.pop(i)		            Removes and returns the ith item in a list
		sort		   alist.sort()		            Modifies a list to be sorted
		reverse		   alist.reverse()		        Modifies a list to be in reverse order
		del		       del alist[i]		            Deletes the item in the ith position
		index		   alist.index(item)	        Returns the index of the first occurrence of item
		count		   alist.count(item)	        Returns the number of occurrences of item
		remove		   alist.remove(item)	        Removes the first occurrence of item

Append allows you to add ONE and only ONE item at the end of the list (takes a singleton as an argument)
Here, a string 'phone' is appended successfully

In [11]:
thingsInPocket.append('phone')
thingsInPocket

['phone', 'keys', 'wallets', 'id', 'pen', 5, 'phone']

Below, we try to append two items ('coins' and 'chopsticks').  The result is an error because there is more than one item sent to the append method.

In [12]:
thingsInPocket.append('coins','chopsticks')

TypeError: append() takes exactly one argument (2 given)

This problem can be solved by appending the two items ('coins' and 'chopsticks') as one single list.  The output may not be what we want though.
The example below illustrates this.

In [13]:
thingsInPocket.append(['coins','chopsticks'])
thingsInPocket

['phone', 'keys', 'wallets', 'id', 'pen', 5, 'phone', ['coins', 'chopsticks']]

Let us remove the item ['coins', 'chopsticks'], the last item in the list by using the pop command

In [14]:
thingsInPocket.pop()

['coins', 'chopsticks']

Note that ['coins','chopticks'] are no longer in the list, thingsInPocket

In [15]:
thingsInPocket

['phone', 'keys', 'wallets', 'id', 'pen', 5, 'phone']

We can use extend instead of append to get what we want.  
The example below shows what happens when we use extend with ['coins','chopticks'].

In [16]:
thingsInPocket.extend(['coins','chopsticks'])
thingsInPocket

['phone', 'keys', 'wallets', 'id', 'pen', 5, 'phone', 'coins', 'chopsticks']

## 2.0  Methods that Return Value and Those That Do Not

Some methods (not only with lists) return values that can be stored in another variable while others do not.
Let us illustrate this concept with two methods that are used with list:  sorted() and .sort() methods
We create a list of prime numbers and apply both methods to see what happens.

We use the sorted() method first.  You will see that the original list primeNumbers remain unsorted.

In [17]:
primeNumbers = [11,1,19,2,5,7,13,3,17]
sorted(primeNumbers)

[1, 2, 3, 5, 7, 11, 13, 17, 19]

In [18]:
primeNumbers

[11, 1, 19, 2, 5, 7, 13, 3, 17]

However, if you use the .sort() method, the order of the number in the original list primeNumbers are sorted.

In [19]:
primeNumbers = [11,1,19,2,5,7,13,3,17]
primeNumbers.sort()
primeNumbers

[1, 2, 3, 5, 7, 11, 13, 17, 19]

Note that I wrote the code differently to get the output of the sorted() and .sort()
In sorted(), all I had to do was to apply the sorted() method and the output is produced.  Thus, we say that the sorted() method returns a value.  This value can be stored in another variable as illustrated below.

In .sort() method, I had to write primeNumbers in the code after applying the .sort() method before the output is given.  .sorted() method does not return a value.  What it does is to sort the prime numbers and put the sorted list in the original list.  Hence, the original list is modified. This is called in place.  Since .sort() does not return a value, trying to assign the output to another variable is not possible.  This is illustrated below.

In [20]:
primeNumbers = [11,1,19,2,5,7,13,3,17]
primeNumberbySorted =sorted(primeNumbers)
primeNumberbySort =primeNumbers.sort()
print('primeNumberbySorted: ', primeNumberbySorted , '\n', 'primeNumberbySort: ',primeNumberbySort)

primeNumberbySorted:  [1, 2, 3, 5, 7, 11, 13, 17, 19]
 primeNumberbySort:  None

## 3.0 Methods to Construct lists

### 3.1 Range Construction

range(n) generates integers from 0,1,2 . . . , n-1.

range(start,stop,step) generates a sequence of integers. The sequence is

   start, start+step, start+2*step and so on, up to but not including stop.

  If step is omitted, the default is 1.

Suppose you wish to construct the list below containing temperatures in Celcius

[-5, 0 , 5, 10, 15, 20, 25, 30, 35, 40]

You could type in the numbers yourself, but it would be too tedious if there are a lot of numbers.

We can use the range function together with the for loop (we will discuss the loops in a later lecture) to create the list

In [7]:
Cdegrees=[ ]	#define an empty list you going to fill later​

for i in range(-5,41,5):	#carry out operations in the loop starting with i=5, #increase by 5 for each loop, and stop at the largest #number before 41​

    Cdegrees.append(i)	#append each i to the list called Cdegrees, with each loop

Cdegrees	#check what is in the list​

[-5, 0, 5, 10, 15, 20, 25, 30, 35, 40]

### 3.2 List Comprehension

List comprehension is a very efficient method to construct list.  It makes use of existing list and applies the an expression to form a new list.

The syntax for list comprehension is shown below.

newlist = [E(e) for e in oldlist].

E(e) represents an expression involving element e in the old list.


We have created a list containing a range of temperatures in Celcius above.  We can use list comprehension to convert create a list of temperature in Farenheit from the list of temperature in Celcius that we created.

The formula is Farenheit = (9/5)*Celcius + 32

We do the conversion and store the result in a list called Fdegrees.

The list expression is:

Fdegrees = [(9/5)*c + 32 for c in Cdegrees]

In this case, the code takes each item in the list Cdegrees and applies the expression, (9/5)*c + 32, to the item.  Since there are 10 items in Cdegrees, there will be 10 items in Fdegrees.

You will note that this is similar to a loop except that the list expression negates the use of the loop.  It is much neater.

In [8]:
Fdegrees = [(9/5)*c + 32 for c in Cdegrees]
Fdegrees

[23.0, 32.0, 41.0, 50.0, 59.0, 68.0, 77.0, 86.0, 95.0, 104.0]

ZIP function can be used to combine two or more lists

In [11]:
result = zip (Cdegrees,Fdegrees)
result

In [12]:
print(list(result))

[(-5, 23.0), (0, 32.0), (5, 41.0), (10, 50.0), (15, 59.0), (20, 68.0), (25, 77.0), (30, 86.0), (35, 95.0), (40, 104.0)]

In [13]:
print(list(result))

[]

In [14]:
for c, f in zip (Cdegrees,Fdegrees):
    print (c,f)

-5 23.0
0 32.0
5 41.0
10 50.0
15 59.0
20 68.0
25 77.0
30 86.0
35 95.0
40 104.0

In [15]:
result = zip (Cdegrees,Cdegrees,Fdegrees)
print(list(result))

[(-5, -5, 23.0), (0, 0, 32.0), (5, 5, 41.0), (10, 10, 50.0), (15, 15, 59.0), (20, 20, 68.0), (25, 25, 77.0), (30, 30, 86.0), (35, 35, 95.0), (40, 40, 104.0)]

In [17]:
num = range(1,13)
mul_num = [13*n for n in num]
mul_num

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156]

In [3]:
sgd = range(1,101)
usd = [1.34*s for s in sgd]
usd

[1.34,
 2.68,
 4.0200000000000005,
 5.36,
 6.7,
 8.040000000000001,
 9.38,
 10.72,
 12.06,
 13.4,
 14.74,
 16.080000000000002,
 17.42,
 18.76,
 20.1,
 21.44,
 22.78,
 24.12,
 25.46,
 26.8,
 28.14,
 29.48,
 30.82,
 32.160000000000004,
 33.5,
 34.84,
 36.18,
 37.52,
 38.86,
 40.2,
 41.54,
 42.88,
 44.220000000000006,
 45.56,
 46.900000000000006,
 48.24,
 49.580000000000005,
 50.92,
 52.260000000000005,
 53.6,
 54.940000000000005,
 56.28,
 57.620000000000005,
 58.96,
 60.300000000000004,
 61.64,
 62.980000000000004,
 64.32000000000001,
 65.66000000000001,
 67.0,
 68.34,
 69.68,
 71.02000000000001,
 72.36,
 73.7,
 75.04,
 76.38000000000001,
 77.72,
 79.06,
 80.4,
 81.74000000000001,
 83.08,
 84.42,
 85.76,
 87.10000000000001,
 88.44000000000001,
 89.78,
 91.12,
 92.46000000000001,
 93.80000000000001,
 95.14,
 96.48,
 97.82000000000001,
 99.16000000000001,
 100.5,
 101.84,
 103.18,
 104.52000000000001,
 105.86,
 107.2,
 108.54,
 109.88000000000001,
 111.22000000000001,
 112.56,
 113.9,
 115.24000000000001,
 116.58000000000001,
 117.92,
 119.26,
 120.60000000000001,
 121.94000000000001,
 123.28,
 124.62,
 125.96000000000001,
 127.30000000000001,
 128.64000000000001,
 129.98000000000002,
 131.32000000000002,
 132.66,
 134.0]

In [6]:
numberlist = range(1,101)
newlist = [i for i in numberlist if i%12==0 ]
newlist

[12, 24, 36, 48, 60, 72, 84, 96]

## 4.0  Tuples

Tuples are similar to lists.

The main difference is that tuples are immutable, that is, they cannot be changed.

The main reason for using tuples instead of lists are:
(i)  to protect against accidental change in content; and
(ii) to have a faster running code (tuples are faster than lists)

Tuples are defined by two methods;
(i)  enclosing the times in round brackets ( ); or
(ii)  just defining the items without any brackets.

Each tuple can contain data of different types as illustrated below.

In [23]:
tuple1 = (1,2,3,4,5,'numbers')

tuple2 = 10,'cool', True

Items within a tuple can be accessed through indexing, similar to a list.

The example below illustrates accessing all the items from tuple2 and determining their datatype.

In [24]:
print(type(tuple2[0]),type(tuple2[1]),type(tuple2[2]))

<class 'int'> <class 'str'> <class 'bool'>

The example below shows that the value of elements in a tuple cannot be changed.  This is a useful feature in long programs where you may lose track of changes you make to your data and unwitting change data that should not be changed.

In [25]:
tuple2[0] = 20

TypeError: 'tuple' object does not support item assignment

In [20]:
print(type(20))
print(type(20,40))

<class 'int'>

TypeError: type() takes 1 or 3 arguments