## 1.0  Simple Exercises for Functions

Write a function that takes three integers as arguments and output the smallest of the three number without using the inbuilt min function

In [1]:
def sortFunc(a,b,c):

In [7]:
sortFunc(4,3,100)

3

Now let us increase the difficulty a little and allow for an arbitrary number of arguments instead of three.
Write a function that takes an arbitrary number of integers  and output the smallest positive number.

In [4]:
def sortFuncArb(*args):

In [5]:
sortFuncArb(1,4,5,6,8,9,5,-2,23,100)

-2

Write a function that takes an arbitrary number of integers  and output the smallest positive number.

In [1]:
def sortFuncArbPos(*args):
    # initialize the variable smallest with the first positive integer.  Once that is found, get out of this loop using the break

In [6]:
sortFuncArbPos(-1,-4,5,34,8,9,5,-2,23,100)

5

## 2.0  Using Try and Except

The try and except method is used within a function to catch specific type of errors that we expect.  Providing the function with this ability to catch the errors allow us to deal with the errors in a specific manner.  More importantly, it allows the program to continue running even if these errors are encountered.

In this exercise, write a function to sum a series of number.  However, you understand that the person entering the numbers are a little careless and has entered some of the numbers incorrectly as strings.  You do not want to the program to terminate just because of these errors.  Instead you want to identify these numbers (their index and values) that are entered errorneously.  Create a list containing the index at which these errors occur and the values.  Continue adding the remaining numbers until the all the numbers are processed.

The numbers are passed to the function in the form of a tuple object.

For example, the series of numbers is given as:

series = (1,2,3,4,5)

You are supposed to pass series as argument into the function rather than 1,2,3,4,5

In [2]:
def sumSeries(*args):

In [3]:
series = (1,2,3,4,5)
sumSeries(*series)

The sum is:  15

The errors are [index, value]:  []

In [4]:
series = (1,'2y',3,'4x',5)
sumSeries(*series)

The sum is:  9

The errors are [index, value]:  [[1, '2y'], [3, '4x']]

Now let us practice writing a function that calls another function.  

Suppose you want to create a calculator to compute the cost of a trip some specific cities.

You need to compute the cost of the airplane fare, the cost of accommodation, the spending money and the cost of rental car.

Let use say the following information are given:

Average spending money needed per person per day:  $220  (assume that it is the same for all cities)

Average hotel rate per night in the following cities:

Las Vegas $116
New York $261
Orlando $103
Los Angeles $162
San Diego  $145
Chicago  $165
San Francisco  $208
Washington  $164
Houston  $135
San Antonio  $127

Average return airfare  in the following cities:
Las Vegas $1774
New York $1479
Orlando $1564
Los Angeles $1878
San Diego  $1695
Chicago  $1717
San Francisco  $1878
Washington  $1781
Houston  $1766
San Antonio  $1649

Car Rentals (assume the same for all cities):

$72 per day
$402 per week (7 days)
$1,628 per month (30 days)


You should have an input asking the user the destination and number of days they wish to spend at the destination.  
Then write a function to compute the total cost.

First create a nested dictionary containing each cities airfare and daily accommodation.

In [ ]:
import re

In [8]:
hotelRateDict

{'Chicago': '165',
 'Houston': '135',
 'Las Vegas': '116',
 'Los Angeles': '162',
 'New York': '261',
 'Orlando': '103',
 'San Antonio': '127',
 'San Diego': '145',
 'San Francisco': '208',
 'Washington': '164'}

In [ ]:
import re
airfare = input()
airfareList = re.split(r'[$]([0-9]+)\s?',airfare)
airfareDict = {}
for i in range(0,len(airfareList)-1,2):
    airfareDict[airfareList[i].rstrip()]= airfareList[i+1]

In [ ]:
airfareDict

In [11]:
airfareDict['Chicago']

'1717'

In [12]:

def airfare(city):
 

def hotel(city,days):
 


def car(days):

In [13]:
for i in range(1,32):
    print('day   '+ str(i) + '   '+ str(car(i)))

day   1   72
day   2   144
day   3   216
day   4   288
day   5   360
day   6   432
day   7   402
day   8   474
day   9   546
day   10   618
day   11   690
day   12   762
day   13   834
day   14   804
day   15   876
day   16   948
day   17   1020
day   18   1092
day   19   1164
day   20   1236
day   21   1206
day   22   1278
day   23   1350
day   24   1422
day   25   1494
day   26   1566
day   27   1638
day   28   1608
day   29   1680
day   30   1628
day   31   1700

In [14]:
hotel('Houston', 2)

270.0

In [1]:
def totalCost():

In [ ]:
totalCost()

You can only go to the following cities


New York Orlando Los Angeles San Diego Chicago San Francisco Washington Houston San Antonio

Can you use a widget to create a dropdown list for them to select the cities that they want to visit.  This negates the need for them to type in the name of the city.

In [7]:
import ipywidgets as widgets

In [8]:
widgets.interact(f, city =cities);

interactive(children=(Dropdown(description='city', options=('New York', 'Orlando', 'Los Angeles', 'San Diego',…

In [14]:
city1

'Los Angeles'

In [ ]:
import ipywidgets as widgets

cities = ['New York', 'Orlando', 'Los Angeles', 'San Diego', 'Chicago', 'San Francisco', 'Washington', 'Houston', 'San Antonio']

def dest(city):
 


def totalCostD():
 
    
if __name__ == '__main__':totalCostD()

Where do you wish to holiday in?

interactive(children=(Dropdown(description='city', options=('New York', 'Orlando', 'Los Angeles', 'San Diego',…